@import 'tailwindcss';

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-rabbit-red: #ea2e0e;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
